<!DOCTYPE html>
{% extends 'SidApp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="contact">

<div class="col-md-4">
  <h1>Sidhartha Motors</h1>
  <h3>H. No. 5-11-19,</h3>
  <h3>Plot No. 6,</h3>
  <h3>Beside SBH Bank,</h3>
  <h3>HB Colony Main Rd,</h3>
  <h3>APHB Colony,</h3>
  <h3>Moula Ali, Hyderabad,</h3>
  <h3>PIN-500040</h3>
</div>
<div class="col-md-4">
  <h1>Phones</h1>
  <h3>09392444909,</h3>
  <h3>09848105774,</h3>
  <h3>040-64533190.</h3>
  <h3>Email:Nbreddy909@gmail.com</h3>
</div>
</div>

{% endblock %}
