<!DOCTYPE html>
{% extends 'SidApp/base.html'%}
{% load staticfiles %}
{% block content%}
<!--home page content goes here  -->
<div  id="content" class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8">
    <div class="well">
     <h2>Sidhartha Motors..</h2>
     <p>Started In The Year Of 2006, Owned By <span>Bhaskar Reddy.</span> Till Now Successfully We Have reached 1000+
       Consumers In The Form of Sales In Multibranded Two Wheeler Motors..
      </p>
      <p>We Have Provided Services To Our Consumers In Different Aspects.Like</p>
      <ul>
        <li> <i class="far fa-hand-pointer fa-rotate-90"></i> Sales Of MultiBranded Bikes,With Best Prices</li>
        <li><i class="far fa-hand-pointer fa-rotate-90"></i> RTA Proper Documentation</li>
        <li> <i class="far fa-hand-pointer fa-rotate-90"></i> Clearance Of Issues</li>
        <li><i class="far fa-hand-pointer fa-rotate-90"></i> Bike Periodical Services.</li>
        <li><i class="far fa-hand-pointer fa-rotate-90"></i> Service And Spares</li>
      </ul>

      <!-- <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20180706055549-bike-253.png" alt="" value=""> -->
     <a href="#"> <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20180706055549-bike-253.png" alt=""></a>
     <a href="#"> <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20170403091542-bike-141.jpg" alt=""></a>
     <a href="#"> <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20180206061741-bike-136.png" alt=""></a>
     <a href="#"> <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20190103103412-bike-330.png" alt=""></a>
     <a href="#"> <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20141220180318-bike-71.png" alt=""></a>
     <a href="#"> <img src="https://www.heromotocorp.com/en-in/uploads/bike/bike_pic_main/20151106122721-bike-39.png" alt=""></a>
     <a href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvo6pq5AyoaCRQLr5cscSfA8X6SaKkVWCIi2b8TGFSD0FXT-A2ZA" alt=""></a>
     <a href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSun8AhRDX3_htptgn7uRrLngxJur_nRA-kNOZGCKYXB19PVIY9mA" alt=""></a>
     <a href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSQeMkHOwi0OTVBAua2jyrUMamMRa0r_ADjeguJLjib4-GqrPs" alt=""></a>
     <a href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl7uFoT4yHoNOD9evlz0WjYXDPF405yQgGmARV3f7xJ6tyVC-gjw" alt=""></a>





    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="well">
      <h2><i class="far fa-hand-pointer fa-rotate-90"></i> Whatsapp Web To Send Instant Messages.</h2>
      <!-- <button id ="butt" name="button" class="btn btn-primary"><a href="http://web.whatsapp.com/">WhatsApp</a></button><br><br> -->
      <a  id="butt" href="http://web.whatsapp.com/">WhatsApp</a>
      <h3>Know About Your desired vehicle specifications.</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"> <a href="https://www.heromotocorp.com/en-in/the-bike/super-splendor-57.html">Super Splendor</a> </li>
        <li class="list-group-item list-group-item-info"> <a href="https://www.heromotocorp.com/en-in/the-bike/passion-pro-79.html">Passion Pro</a>   </li>
        <li class="list-group-item list-group-item-warning"> <a href="https://www.heromotocorp.com/en-in/the-bike/new-super-splendor-ibs-84.html">Super Splendor Ibs</a> </li>
        <li class="list-group-item list-group-item-danger"> <a href="https://www.heromotocorp.com/en-in/the-bike/maestro-edge-76.html">Maestro Edge</a> </li>
        <li class="list-group-item list-group-item-success"> <a href="https://www.heromotocorp.com/en-in/the-bike/passion-x-pro-47.html">Passion X-PRO</a> </li>
        <li class="list-group-item list-group-item-info"> <a href="https://www.bajajauto.com/motor-bikes/pulsar-150-dtsi/specifications">Pulsar-150cc</a>   </li>
        <li class="list-group-item list-group-item-warning"> <a href="https://www.bajajauto.com/motor-bikes/discover/specifications">Discover 125</a> </li>
        <li class="list-group-item list-group-item-danger"> <a href="https://www.honda2wheelersindia.com/activai/specifications">Activa </a> </li>
      </ul>








    </div>

  </div>
</div>

{% endblock %}
